* {
    box-sizing: border-box;
}

body {
    font-family: 'Beiruti', sans-serif;
    color: #2D2A32;
    background-color: #FC9F5B;
    margin: 0;
    font-size: 1.1em;
}

.content {
    padding: 15%;
}

h1 {
    font-size: 5.5em;
    text-align: center;
}

.page-header {
    width: 100%;
    margin: 0;
    margin-top: 1%;
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.start {
    color: #202A25;
}

#logo {
    font-family: 'New Amsterdam', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    text-align: center;
}

img {
    width: 20%;
    height: 20%;
    border-radius: 25%;
    border: 5px solid black;
    margin: 2%;
}

.container {
    text-align: center;
    margin: 15% 1% 10%;
}

a {
    text-decoration: none;
}

h5 {
    text-align: center;
    font-size: 3em;
    margin: 2%;
}

h3 {
    font-size: 5em;
    margin: 0;
}

h6 {
    font-size: 1.5em;
    margin: 1%;
}

button {
    border-radius: 20px;
    padding: 1%;
    font-family: "Beiruti";
    font-size: 1em;
}

button:hover {
    background-color: #EFECCA;
    cursor: pointer;
}