<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/danger.css">
</head>
<body>
    <div class="page-header start ">
        <span id="logo">Danger Dash</span>
    </div>
    <div class="container">
        <h3>{{ title }}</h3>
        <img src="/static/images/{{ img }}" alt="{{ title }}">
        <div class="story">
            <h6>{{ story }}</h6>
        </div>

        <div class="options">
            <button id="option1" onclick="next1()">{{ option1 }}</button>
            <button id="option2" onclick="next2()">{{ option2 }}</button>
        </div>

        <div id="back" style="display: none" >
            <h6 style="display: none" id="win">YOU WIN! GOOD JOB</h6>
            <h6 style="display: none" id="lose">Try again next time</h6>
            <a href="../">Play Again</a>
        </div>
    </div>

    <script>
        function next1() {
            var btn = document.getElementById("option1")
            btn.onclick = next1a
            btn.innerHTML = "{{ option11 }}"
            var btn2 = document.getElementById("option2")
            btn2.onclick = next1b
            btn2.innerHTML = "{{ option12 }}"   
            var newH6 = document.createElement("h6");
            newH6.innerHTML = "{{ option1res }}";
            document.getElementsByClassName("story")[0].appendChild(newH6)
        }
        function next2() {
            var btn = document.getElementById("option1")
            btn.onclick = next2a
            btn.innerHTML = "{{ option21 }}"
            var btn2 = document.getElementById("option2")
            btn2.onclick = next2b
            btn2.innerHTML = "{{ option22 }}"     
            let newH6 = document.createElement("h6");
            newH6.innerHTML = "{{ option2res }}";
            document.getElementsByClassName("story")[0].appendChild(newH6)
        }
        function next1a() {
            var btn = document.getElementById("option1")
            btn.style.display = "none"
            var btn2 = document.getElementById("option2")
            btn2.style.display = "none"
            let newH6 = document.createElement("h6");
            newH6.innerHTML = "{{ option11res }}";
            document.getElementsByClassName("story")[0].appendChild(newH6)
            setTimeout(function() {
                document.getElementsByClassName("story")[0].style.display = "none"
                document.getElementById("back").style.display = "block"
                if({{ option11val }} == 1)
                    document.getElementById("win").style.display = "block"
                else
                    document.getElementById("lose").style.display = "block"
            }, 2000)
        }
        function next1b() {
            var btn = document.getElementById("option1")
            btn.style.display = "none"
            var btn2 = document.getElementById("option2")
            btn2.style.display = "none"  
            let newH6 = document.createElement("h6");
            newH6.innerHTML = "{{ option12res }}";
            document.getElementsByClassName("story")[0].appendChild(newH6)   
            setTimeout(function() {
                document.getElementsByClassName("story")[0].style.display = "none"
                document.getElementById("back").style.display = "block"
                if({{ option12val }} == 1)
                    document.getElementById("win").style.display = "block"
                else
                    document.getElementById("lose").style.display = "block"
            }, 2000) 
        }
        function next2a() {
            var btn = document.getElementById("option1")
            btn.style.display = "none"
            var btn2 = document.getElementById("option2")
            btn2.style.display = "none"      
            let newH6 = document.createElement("h6");
            newH6.innerHTML = "{{ option21res }}";
            document.getElementsByClassName("story")[0].appendChild(newH6)  
            setTimeout(function() {
                document.getElementsByClassName("story")[0].style.display = "none"
                document.getElementById("back").style.display = "block"
                if({{ option21val }} == 1)
                    document.getElementById("win").style.display = "block"
                else
                    document.getElementById("lose").style.display = "block"
            }, 2000)
        }
        function next2b() {
            var btn = document.getElementById("option1")
            btn.style.display = "none"
            var btn2 = document.getElementById("option2")
            btn2.style.display = "none"   
            let newH6 = document.createElement("h6");
            newH6.innerHTML = "{{ option22res }}";
            document.getElementsByClassName("story")[0].appendChild(newH6)
            setTimeout(function() {
                document.getElementsByClassName("story")[0].style.display = "none"
                document.getElementById("back").style.display = "block"
                if({{ option22val }} == 1)
                    document.getElementById("win").style.display = "block"
                else
                    document.getElementById("lose").style.display = "block"
            }, 2000)
            
            
        }
    </script>
</body>
</html>
