<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Preparedness for Kids</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/danger.css">
</head>
<body>
    <div class="page-header start ">
        <span id="logo">Danger Dash</span>
    </div>

    <div class="container">
        <a href="{{ url_for('fire_emergency') }}">
            <img src="/static/images/fire.png" alt="Fire">
        </a>
        <a href="{{ url_for('earthquake_emergency') }}">
            <img src="/static/images/earthquake.png" alt="Earthquake">
        </a>
        <a href="{{ url_for('stranger_danger') }}">
            <img src="/static/images/stranger.png" alt="Stranger Danger">
        </a>

        <a href="{{ url_for('epidemic_emergency') }}">
            <img src="/static/images/epidemic.png" alt="Epidemic">
        </a>
    </div>

    <h5 class="menu-title">Pick an emergency to learn what to do!</h5>
</body>
</html>
